<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- filename_encoded.split('.')[0];%></title>
    <style>
      body {
        margin: 40px auto;
        max-width: 800px;
        line-height: 1.6;
        font-size: 18px;
        font-family: "Courier New", Courier, monospace;
        color: #444;
        padding: 0 10px;
      }
      h2 {
        line-height: 1.2;
      }
    </style>
    <meta name="description" property="og:description"
        content="HTML5 Video Player" />
    <meta name="author" content="Antoine Leroux" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="https://cdn.plyr.io/static/icons/favicon.ico" />
    <link rel="icon" type="image/png" href="https://cdn.plyr.io/static/icons/32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://cdn.plyr.io/static/icons/16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.plyr.io/static/icons/180x180.png" />

    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css" />

    <link rel="preload" as="font" crossorigin type="font/woff2"
        href="https://cdn.plyr.io/static/fonts/gordita-medium.woff2" />
    <link rel="preload" as="font" crossorigin type="font/woff2"
        href="https://cdn.plyr.io/static/fonts/gordita-bold.woff2" />
</head>

<body>
    <video id="videoplayer" playsinline controls>
        <source src=<%="/video?file="+filename_encoded%> type="video/mp4" />
    </video>

    <br>
    <i><%- filename_encoded.split('.')[0];%></i>
    <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // This is the bare minimum JavaScript. You can opt to pass no arguments to setup.
            const player = new Plyr('#videoplayer');

            // Expose
            window.player = player;

            // Bind event listener
            function on(selector, type, callback) {
                document.querySelector(selector).addEventListener(type, callback, false);
            }

            // Play
            on('.js-play', 'click', () => {
                player.play();
            });

            // Pause
            on('.js-pause', 'click', () => {
                player.pause();
            });

            // Stop
            on('.js-stop', 'click', () => {
                player.stop();
            });

            // Rewind
            on('.js-rewind', 'click', () => {
                player.rewind();
            });

            // Forward
            on('.js-forward', 'click', () => {
                player.forward();
            });
        });
    </script>
</body>